@model Asp.netMVCQLBanVeXeKhach.Models.PhanQuyen

@* @model IEnumerable<Asp.netMVCQLBanVeXeKhach.Models.PhanQuyen> *@

@{
    ViewData["Title"] = "Danh Sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Quyền</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" name="MaQuyen" value="@Model.MaQuyen" />
    <div class="form-group">
        <label for="TenQuyen">Tên Quyền</label>
        <input type="text" class="form-control" id="TenQuyen" name="TenQuyen" value="@Model.TenQuyen" required>
    </div>
    <button type="submit" class="btn btn-warning">Cập Nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
